body {
    background-color: #002222;
}
body {
    color: lightpink;
}
a:link {
    color: lightgreen;
}
a:visited {
    color: rgb(206, 156, 30)
}
a:hover {
    color: rgb(189, 47, 0)
}
a:active {
    color: yellow
}
p-span {
    display: block;
}
body {
    font-family: "Ubuntu"
}